body {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.head-line {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 310px;
    height: 310px;
    background-color: black;
    border: 5px solid black;
    justify-items: center;
    align-items: center;
}

.grid-item {
    display: grid;
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.play {
    font-size: 60px;
    margin: 0;
}